* {
  border: 1px dashed pink;
}
html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  /*color: ;  */
}

.container {
  max-width: 64rem;
  margin: 0 auto;
}

.center{
  text-align: center;
}

/*Navigation*/
nav{
  width: 100%;
  background-color: ;
  border-bottom: 1px solid gray;
}

#navigation {
  height: 4rem;
  display: flex;
  align-items: center;
}

#navigation ul{
  display: flex;
  margin-left: auto;
  align-items: center;
}

.hero-picture {
  min-width: 60%;
}

.hero-picture img {
  width: 100%;
}


/*Hero section*/
#hero-section {
  display: flex;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* [ ] add animation on hover of call to action*/

/*about section*/
#about-section{
  display: flex;
}

.side-info-area{
  min-width: 26.4375rem;
}

.side-info-card{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.side-info-picture{
  width: 9.253125rem;
}

.side-info-picture img{
  width: 100%;
}

/*start learning section*/


#start-section h2,
#start-section .tile-area{
  margin: 1rem 0;
}

#start-section .tile-area{
  display: flex;
  flex-flow: row wrap;
}

.card {
  width: 19rem;
  margin: 1rem;
}

#start-section .title-img-course{
  min-height: 13.75rem;
}
#start-section .title-img-course img {
  width: 100%;
}

/*thesis section*/
#thesis-section {
  display: flex;
}
#thesis-section video{
  display: inline-block;
  width: 100%;
}

#thesis-section.side-info-card {
  min-width:10.5rem;
}

/*footer*/
footer {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
}
.footer .copyright {
  margin-right: auto;
}
